/* Modal overlay */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Dark transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Modal box */
  .modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
  

  .modal-backdrop {
    animation: fadeIn 0.3s ease-in-out;
  }
  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .material-icons {
    font-size: 14px;
    vertical-align: middle;
    margin-left: 4px;
    color: #fff;
  }
  

  .card {
    // max-width: 500px;
    margin: auto;
  }
  